.navbar-light .navbar-brand {
    color: black;
   font-family:  'Shadows Into Light Two', cursive;
   font-size: 2rem;
   color: #422e32;
}
.navbar-light .navbar-brand:hover {
    color: black;
}

.navbar-light .navbar-nav .nav-link.active{
	color: #fc6c3f;
}


.navbar-light .navbar-nav .nav-link{
	font-size: 14px;
	font-weight: bold;
}


.centered {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size:3rem;
}

@media  (max-width: 600px) {
   .centered{
     font-size: 1rem;
   }

   .introImg{
    width: 90vw;
    height: 40vh;

  }
}

.IntroLine{
	margin:5rem auto;
	text-align:center;
	font-family: 'Stylish', cursive;
	color: #0a3335;
	
}


.introImg{
	width: 100%;
    /*object-fit: contain;*/
  box-shadow: 15px 19px 55px -21px rgba(4,4,16,0.78) ;
-webkit-box-shadow: 15px 19px 55px -21px rgba(4,4,16,0.78) ;
-moz-box-shadow: 15px 19px 55px -21px rgba(4,4,16,0.78) ;
}



.cardHeader{
  background: transparent;
  color: black;
  font-size: 1.2rem;
}

.cards{
  text-align: left;
  margin: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 20px;
  box-shadow: 3px 10px 52px -27px rgba(0,0,0,0.77);
-webkit-box-shadow: 3px 10px 52px -27px rgba(0,0,0,0.77);
-moz-box-shadow: 3px 10px 52px -27px rgba(0,0,0,0.77);
transition: all .2s ease-in-out;
}

d-block{
  border-radius: 30px;
}

.ReadMore{
  background-color: rgb(189, 14, 87);
  margin: 0.6rem auto;
  padding: 1rem;
  border-radius: 30px;
}

.ReadMore:hover{
  background-color: rgb(122, 6, 55);
}


.searchBar{
  border-radius: 20px;
  outline: none
}
.form-control:focus{
  box-shadow: none;
}

.btn-secondary:hover{
  background-color: transparent;
  font-size: 2rem;
}
.btn-secondary:active{
  background-color: white;
}

#searchbtn{
  outline: none;
  background-color:white; 
  border:none
}


.desc{
  display: flex;
  flex-direction: column;
}

.cards:hover{
  transform: scale(1.1);
}